
#bob {
	margin-top: 500px;
}

.base {
	margin: 1px;
	height: 25px;
	width: 25px;
}

.photon, .decode {
	margin: 1px;
	height: 25px;
	width: 25px;
}

.vertical {
	vertical-align:middle;
}

.good{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.bad {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(25deg) brightness(118%) contrast(119%);
}