* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #FFF;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-bottom: -700px;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }

  canvas {
    background-color:white;
  }
  
  /*======================================================
                            Navbar
    ======================================================*/
  
.img {
    height: 60px;
    width: 120px;
}

  
#navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  }
  @media (max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  }
  @media (max-width: 638px) {
    .nav-wrapper {
      width: 100%;
    }
  }
  
  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    .logo {
      /*       margin-left: 5px; */
    }
  }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  }
  @media (max-width: 640px) {
    #navbar ul {
      display: none;
    }
  }
  @media (orientation: landscape) {
    #navbar ul {
      display: inline-block;
    }
  }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before,
  #navbar li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }

   


#alice {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}


#bob {
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

#eve {
  display: none;
  margin-left: 5%;
  margin-right: 5%;
}

.actor {
	width: 150px;
	height: 150px;
}

.photon, .bobPhoton, .evePhoton, .decode, .kGenerated, .base {
	margin: 1px;
	height: 25px;
	width: 25px;
}

.empty {
	background: red;
}

.vertical {
	vertical-align:middle;
}

.good{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.bad {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(150deg) brightness(118%) contrast(119%);
}

.error {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(330deg) brightness(118%) contrast(119%);
}


.form {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  width: 30%; 
}

button {

  background-color:blue;
  color: #fff;
  height: 30px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  border-radius: 10px;
}


.input1 {
  border-radius: 5px;
  border-color: blue;
  height: 20px;
  width: 150px;
  margin-left: 3%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

.input {
  border-radius: 5px;
  margin-left: 3%;
  height: 15px;
  width: 15px;
  box-sizing: border-box;
}


