
#bob {
	margin-top: 500px;
}

#eve {
	display: none;
}

.actor {
	width: 200px;
	height: 200px;
}

.photon, .bobPhoton, .evePhoton, .decode, .kGenerated, .base {
	margin: 1px;
	height: 25px;
	width: 25px;
}

.empty {
	background: red;
}

.vertical {
	vertical-align:middle;
}

.good{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.bad {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(150deg) brightness(118%) contrast(119%);
}

.error {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(330deg) brightness(118%) contrast(119%);
}